files:
    "/etc/cron.d/sandlotbatch":
        mode: "000644"
        owner: root
        group: root
        content: |
            30 5 30 6 * root /usr/local/bin/sandlotbatch.sh
 
    "/usr/local/bin/sandlotbatch.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            source /opt/python/run/venv/bin/activate
            python /opt/python/current/app/backend/masterbuild.py -p /opt/python/current/app/backend/

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
